name: Release Extension

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  zip-and-release:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Zip Extension
        run: |
          zip -r x-unbookmarker-v${{ github.ref_name }}.zip manifest.json src assets
          
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: x-unbookmarker-v${{ github.ref_name }}.zip
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}